{% extends 'layout.html' %}
{% block title %}Inicio{% endblock %}

{% block body %}
<div class="alert alert-info display-1 text-center">Inicio</div>
<div class="row">
    <div class="col">
        <button class="btn p-3 w-100 btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
        </button>      
        <ul class="dropdown-menu">
            <li><a href="{% url 'listado_proyectos' %}" class="dropdown-item" type="button">Ver Proyectos</a></li>
            <li><a href="{% url 'crear_proyecto' %}" class="dropdown-item" type="button">Nuevo Proyecto</a></li>
        </ul>
    </div>
    <div class="col">
        <button class="btn p-3 w-100 btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Facturas(no funciona)
        </button>      
        <ul class="dropdown-menu">
            <li><a href="{% url 'listado_factura' %}" class="dropdown-item" type="button">ver Factura</a></li>
            <li><a href="{% url 'crear_factura' %}" class="dropdown-item" type="button">Nueva Factura</a></li>
        </ul>
    </div>
    <div class="col">
        <button class="btn p-3 w-100 btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Extras 
        </button>      
        <ul class="dropdown-menu">
            <li><a href="{% url 'payment_method' %}" class="dropdown-item" type="button">Métodos de pago</a></li>
            <li><a href="{% url 'unidad_medida' %}" class="dropdown-item" type="button">Unidades de medida</a></li>
            <li><a href="{% url 'maestro' %}" class="dropdown-item" type="button">Maestros</a></li>
            <li><a href="{% url 'producto' %}" class="dropdown-item" type="button">Productos</a></li>
        </ul>
    </div>
</div>
{% endblock %}